.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  transition: transform 100ms ease-in-out;
}
.post:hover{
transform: scale(1.05);
}
.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.post img{
  max-width: 100%;
}

.post-content {
  padding: 30px;
}